In [4]:
import pandas as pd
dfMatches=pd.read_csv('../public/matches.csv')

# // Find a player who has won the highest number of Player of the Match awards for each season

result=dfMatches.groupby(['season','player_of_match']).size().reset_index(name='Player of the match count')
top_players = result.loc[result.groupby('season')['Player of the match count'].idxmax()].reset_index(drop=True)
top_players.to_csv('../Output/6-problem.csv')
top_players

   season player_of_match  Player of the match count
0    2008        SE Marsh                          5
1    2009       YK Pathan                          3
2    2010    SR Tendulkar                          4
3    2011        CH Gayle                          6
4    2012        CH Gayle                          5
5    2013      MEK Hussey                          5
6    2014      GJ Maxwell                          4
7    2015       DA Warner                          4
8    2016         V Kohli                          5
9    2017       BA Stokes                          3